@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

nav > div {
	@apply md:justify-center w-full !important;
}

div[data-testid='flowbite-dropdown'] > ul > li[role='menuitem'] > a {
	@apply hover:bg-secondary md:hover:bg-secondary !important;
}

button[aria-haspopup='menu'] {
	padding: 0.5rem 0 !important;
	@apply hover:text-primary !important;
}

div[data-testid='flowbite-navbar-collapse'] > ul > li > a {
	@apply m-0 p-0 h-10 items-center flex hover:text-primary hover:bg-[transparent] border-0;
}

:root {
	--p: #dfb323;
	--s: #2086bf;
}

.bg-secondary *,
.btn-secondary {
	color: #fff;
}

.bg-primary * {
	color: #000;
}

.card-title {
	@apply text-primary;
}

@media (min-width: 640px) {
	table {
		display: inline-table !important;
	}

	thead tr:not(:first-child) {
		display: none;
	}
}

td:not(:last-child) {
	border-bottom: 0;
}

th:not(:last-child) {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.icons {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
	@apply text-text;
}

.title {
	background: linear-gradient(45deg, var(--p), var(--s));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 900;
}

.title-bg {
	background: linear-gradient(45deg, var(--p), var(--s));
}
